* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.todo-app {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  height: 100%;
  /* width: 520px; */
  /* min-height: 600px; */
  text-align: left;
  /* margin: 128px auto; */
  /* border-radius: 10px; */
  padding-bottom: 32px;
}
body {
  background: #161a2b;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 510px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: rgba(93, 12, 255, 1);
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: rgba(20, 159, 255, 1) 0%;
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0;
  color: #fff;
  background: rgba(93, 12, 255, 1);
  padding: 16px;
  border-radius: 5px;
  /* width: 90%; */
  width: 600px;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.remove {
  font-size: 16px;
  align-items: center;
}

.todo_Cont {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
}
.checkbox {
  margin-right: 15px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
}

.space {
  width: 20px;
}
